.slide-enter {
  opacity: 0.01;
}

.slide-enter-active {
  opacity: 0.01;
}

.slide-enter-done {
  opacity: 1;
  transition: opacity 500ms linear;
}

.slide-exit {
  opacity: 1;
}

.slide-exit-active {
  opacity: 0.01;
  transition: opacity 500ms linear;
}
